<div class="container mt-5">
   <div *ngIf="!registerMode && !loginPage" style="text-align: center; margin-top: 400px;">
      <h1>Найди свою мечту</h1>
      <p class="lead">Приходите сюда чтобы воплотить свои мечты...всё что вам нужно - зарегистрироваться</p>
      <div class="text-center">
         <button style="background-color:#6CD3AC ;" class="btn btn-lg me-2" (click)="registerToggle()">Регистрация</button>
         <button style="background-color: #FA4D6B;" class="btn btn-lg me-2" (click)="loginToggle()">Авторизация</button>
      </div>
   </div>

   <div class="container" *ngIf="registerMode">
      <div class="row justify-content-center">
         <div class="col-4">
            <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
         </div>
      </div>
   </div>

   <div class="container" *ngIf="loginPage">
      <div class="row justify-content-center">
         <div class="col-4">
            <app-login ></app-login>
         </div>
      </div>
   </div>
</div>
