<div class="container">
   <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
      <h2 class="text-center text-primary">Регистрация</h2>
      <hr>
   
      <div class="mb-3">
         <label style="margin-right:10px;">Пол:</label>
         <label class="form-check-label">
            <input type="radio" class="form-check-input" value="male" formControlName="gender"> Мужской
         </label>
   
         <label class="form-check-label">
            <input type="radio" class="form-check-input ms-3" value="female" formControlName="gender"> Женский
         </label>
      </div>
      <div class="row">
         <div class="col">
            <app-text-input [formControl]="$any(registerForm.controls['username'])" [label]="'Имя пользователя'"></app-text-input>
         </div>
         <div class="col">
            <app-text-input [formControl]="$any(registerForm.controls['knownAs'])" [label]="'Никнейм'"></app-text-input>
         </div>
      </div>
      <app-date-picker [formControl]="$any(registerForm.controls['dateOfBirth'])" [label]="'Дата рождения'" [maxDate]="maxDate"></app-date-picker>
      <div class="row">
         <div class="col">
            <app-text-input [formControl]="$any(registerForm.controls['city'])" [label]="'Город'"></app-text-input>

         </div>
         <div class="col">
            <app-text-input [formControl]="$any(registerForm.controls['country'])" [label]="'Страна'"></app-text-input>
         </div>
      </div>
      <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'Пароль'" [type]="'password'"></app-text-input>
      <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'Подтвердите пароль'" [type]="'password'"></app-text-input>
   
      <div class="row" *ngIf="validationErrors">
         <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
               {{error}}
            </li>
         </ul>
      </div>
   
      <div class="text-center">
         <button [disabled]="!registerForm.valid" class="btn btn-success me-2" type="submit">Зарегистрироваться</button>
         <button class="btn btn-default" type="button" (click)="cancel()">Отмена</button>
   
      </div>
   </form>
</div>
